*.folder filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/GADASATANEBI/modules filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/Pigeon.Nest/EXE/JRE/lib/modules filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/Pigeon.Nest/EXE/JRE/lib/modules filter=lfs diff=lfs merge=lfs -text
EXE/JRE/lib/modules filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/Pigeon.Nest/EXE/JRE/lib/modules filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/Pigeon.Nest/Pigeon.NestSetup.exe filter=lfs diff=lfs merge=lfs -text
