      @font-face
      {
          font-family: 'Follow The Arrow';
          src: url('fonts/FollowTheArrow.ttf');
      }

      .custom-font {
          -fx-font-family: 'Follow The Arrow';
          -fx-font-size: 18px;
      }